<header class="header" role="banner">
    <div class="header__inner container">
        <div class="header__left">
            dooz
        </div>
        <div class="header__right">
            {% include "nav.njk" %}
        </div>
    </div>
</header>