---
layout: base
permalink: /snippets/
eleventyNavigation:
  key: Snippets
  order: 2
---
<h1>Snippets</h1>
<ol class="snippet-list">
  {%- for snippet in collections.snippets | reverse -%}
    <li class="snippet-list-item">
      <h2>
        <a href="{{ snippet.url }}">{{ snippet.data.title }}</a>
      </h2>
      <time itemprop="datePublished" datetime="{{ snippet.date | dateToISO }}">{{ snippet.date | readableDate('dd LLL yyyy') }}</time>
    </li>
  {%- endfor -%}
</ol>