---
layout: base
eleventyNavigation:
  key: Home
  order: 0
---
<h1>Hi, I am Daniel</h1>
{% image "./src/assets/images/profile-pic.jpg", "me smiling", "(min-width: 30em) 50vw, 100vw", "profile-image" %}
<p>nice to see you!</p>
<p>I am a frontend / javascript developer and I am working for the incredible <a href="https://tonies.com/">Tonies</a>.
</p>
<p>You can find me on <a href="https://www.github.com/danielbeutner">GitHub</a> and <a rel="me" href="https://mastodon.online/@dooz">Mastodon</a>.</p>