@font-face {
  font-family: 'cascadiacode';
  src: url('/assets/fonts/cascadiacode.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arbutus';
  src: url('/assets/fonts/arbutus.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chunkfive';
  src: url('/assets/fonts/chunkfive.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
