/* title */
#title {
  font-size: 2rem;
  padding: 0 0.5ch;
}
#title::after {
  content: '«';
}

#title::before {
  content: '»';
}

/* profile image */
img.profile {
  border-radius: 100%;
  max-width: 8rem;
  margin: 1.66rem;
}

/* main navigation */
[role='navigation'] {
  margin: 1.5rem 0;
}

[role='navigation'] ul {
  --gap: 1ch;
  align-items: baseline;
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  padding: 0;
  width: calc(100% + var(--gap));
}

[role='navigation'] ul li {
  margin: var(--gap) 0 0 var(--gap);
}

[role='navigation'] ul li a {
  padding: 0.5ch 1ch;
}

[role='navigation'] ul li a::after {
  content: '‹';
}

[role='navigation'] ul li a::before {
  content: '›';
}

[aria-current='page'] {
  background-color: #aa00ff;
}
