/* title */
#title {
  font-size: 2rem;
}

/* profile image */
img.profile {
  border-radius: 100%;
  max-width: 8rem;
  margin: 1.66rem;
}

/* main navigation */
[role='navigation'] {
  margin: 1.5rem 0;
}

[role='navigation'] ul {
  --gap: 0.75rem;
  padding: 0;
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap));
}

[role='navigation'] ul li {
  margin: var(--gap) 0 0 var(--gap);
}

[role='navigation'] ul li a {
  padding: 0.5rem 1rem;
}
