@import 'reset.css';
@import 'fonts.css';
@import 'layout.css';
@import 'header.css';
@import 'footer.css';
@import 'helper.css';
@import 'lists.css';
@import 'posts.css';
@import 'night-owl.css';

/* Variables */
:root {
  --main-link-background: #222;
  --main-typo-color: #222;
  --main-secondary-color: #666;
}

/* Animations */
@keyframes k1 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Typography */
html {
  font-family: 'arbutus', serif;
}

body {
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.16666666666;
  margin-bottom: 1.875rem;
}

h2 {
  font-size: 1.875rem;
  line-height: 1.2;
  padding-top: 1.5rem;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.25;
  padding-top: 0.75rem;
  margin-bottom: 0.375rem;
}

h4 {
  font-size: 1.3125rem;
  line-height: 1.3333333;
  padding-top: 0.75rem;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.5;
  padding-top: 0.75rem;
  margin-bottom: 0.5625rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.5;
  padding-top: 0.5625rem;
  margin-bottom: 0.1875rem;
}

ul {
  padding: 0 0 0 1rem;
}

p,
li {
  margin-bottom: 0.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: 'chunkfive', sans-serif;
  color: var(--main-typo-color);
  letter-spacing: 0.025ch;
}

strong {
  color: #000;
}

a {
  color: #fff;
  background-color: var(--main-link-background);
  text-decoration: none;
  display: inline-block;
  padding: 0 0.25rem;
}

a[href^='http']::after {
  display: inline-block;
  content: ' »';
  transform: rotate(-45deg) translate(0.5ch, -0.5ch);
}

a:hover,
a:focus,
a:active {
  animation: k1 5s ease infinite;
  background-size: 400% 400%;
  background-color: #663dff;
  background-image: linear-gradient(
    319deg,
    #663dff 0%,
    #aa00ff 37%,
    #cc4499 100%
  );
}

small {
  color: var(--main-secondary-color);
  font-style: italic;
}

time {
  color: var(--main-secondary-color);
  display: block;
  font-style: italic;
  white-space: nowrap;
}

img,
picture {
  height: auto;
}

code,
pre {
  font-family: 'cascadiacode', monospace;
  font-weight: 100;
}
