@import 'reset.css';
@import 'fonts.css';
@import 'prism-night-owl.css';
@import 'helper.css';

html {
  font: 100%/1.66 'arbutus', serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

:root {
  --main-link-background: #222;
  --main-typo-color: #222;
  --main-secondary-color: #666;
  --main-inactive-color: #ddd;
}

@keyframes k1 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
  font-weight: normal;
  font-family: 'chunkfive', sans-serif;
  color: var(--main-typo-color);
}

p {
  color: var(--main-typo-color);
}

strong {
  color: #000;
}

a:link,
a:visited {
  color: #fff;
  background-color: var(--main-link-background);
  text-decoration: none;
  display: inline-block;
  padding: 0 0.66em;
}

a:hover,
a:focus,
a:active {
  animation: k1 5s ease infinite;
  background-size: 400% 400%;
  background-color: #663dff;
  background-image: linear-gradient(
    319deg,
    #663dff 0%,
    #aa00ff 37%,
    #cc4499 100%
  );
}

small {
  color: var(--main-secondary-color);
  font-style: italic;
}

p,
ul,
time {
  margin-bottom: 1rem;
}

li {
  margin-bottom: 1rem;
}

time {
  font-style: italic;
  display: block;
  white-space: nowrap;
}

[role='navigation'] ul {
  display: flex;
  list-style: none;
  padding: 0;
}

[role='navigation'] ul li {
  padding: 0.5rem;
}

[role='navigation'] ul li a {
  padding: 0.5rem 1rem;
}

#title {
  font-size: 3rem;
}

[role='document'] {
  max-width: 50rem;
  margin: 0 5rem;
}

#main > ol {
  padding: 0;
}

#main > ol > li {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 1.66rem;
  position: relative;
}

#main > ol > li > h2 > a {
  padding: 0.5rem 1rem;
}

#main > ol > li > h2 > a::after {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#main > ol > li > h2 {
  width: 75%;
}

#main > ol li #main > time {
  width: 25%;
  padding: 0 0.66rem;
}

#main > ol > li > p {
  width: 75%;
}

img.profile {
  border-radius: 100%;
  max-width: 8rem;
  margin: 1.66rem;
}

footer {
  padding: 2rem 0;
}
