---
layout: base
---
<article 
    id="{{ title | slug }}" 
    role="article" 
    itemscope 
    itemtype="http://schema.org/BlogPosting" 
    aria-labelledby="{{ title | slug }}-title" 
>
    <header>
        <h1 id="{{ title | slug }}-title" itemprop="headline">{{ title }}</h1>
        <time itemprop="datePublished" datetime="{{ page.date | dateToISO }}">{{ page.date | readableDate('dd LLL yyyy') }}</time>
    </header>
    <div itemprop="articleBody">
        {{ content | safe }}
    </div>
</article>